<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="smtpServer" value="localhost"/>
		<add key="smtpPort" value="25"/>
		<add key="smtpUser" value="test@gestorestudiantes.com"/>
		<add key="smtpPass" value=""/>
		<add key="dominiosPermitidos" value="gmail.com,unal.edu.co,outlook.com,yahoo.com"/>
	</appSettings>
</configuration>