<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<!-- Conexión local -->
		<add name="LocalConnection"
			 connectionString="Server=localhost;Database=GestionEstudiantes;Uid=root;Pwd=admin;"
			 providerName="MySql.Data.MySqlClient" />

		<!-- Conexión remota -->
		<add name="RemoteConnection"
			 connectionString="Server=tu-servidor-remoto.mysql.database.azure.com;Database=GestionEstudiantes;Uid=usuario;Pwd=contraseña;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	
	<appSettings>

		<!-- puedo utilizar la local o la remota cambiando el nombre -->
		<add key="Ambiente" value="Local" />
		
		
		<add key="smtpServer" value="localhost"/>
		<add key="smtpPort" value="25"/>
		<add key="smtpUser" value="test@gestorestudiantes.com"/>
		<add key="smtpPass" value=""/>
		<add key="dominiosPermitidos" value="gmail.com,cun.edu.co,outlook.com,yahoo.com"/>
	</appSettings>
</configuration>